<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.badeg">

    <!-- Izin wajib agar WebView dapat berkomunikasi dengan server Mongoose lokal -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="B.A.D.E.G"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"> <!-- Wajib diaktifkan untuk akses http://localhost -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"> <!-- Menjaga orientasi layar agar UI dashboard tetap rapi -->
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.action.LAUNCHER" />
            </intent-filter>
            
        </activity>
    </application>

</manifest>
